FORMAT: 1A
HOST: https://api.bigcommerce.com/stores/store_id/v3

# BigCommerce API
Documentation for the Bigcommerce API(should add something here)

# Group Catalog
Bigcommerce Catalog 


## Products [/catalog/products]
`/catalog/products`

+ Attributes (array[ProductCollectionResponse])

### Get a Product [GET /catalog/products{?id,name,sku,upc,price,weight,condition,brand_id,date_modified,date_last_imported,is_visible,is_featured,is_free_shipping,inventory_level,inventory_low,out_of_stock,total_sold,type,categories,keyword,keyword_context,status,include,include_fields,exclude_fields,availability,price_list_id,page,limit,direction,sort}]]
Returns a paginated collection of `Products` objects from the BigCommerce Catalog.
The results can be filtered. 

+ Parameters
    + id (number, optional)

        Filter items by id.

    + name (string, optional)

        Filter items by name.

    + sku (string, optional)

        Filter items by sku.

    + upc (string, optional)

        Filter items by upc.

    + price (number, optional)

        Filter items by price.

    + weight (number, optional)

        Filter items by weight.

    + condition (number, optional)

        Filter items by condition.

    + brand_id (number, optional)

        Filter items by brand_id.

    + date_modified (string, optional)

        Filter items by date_modified.

    + date_last_imported (string, optional)

        Filter items by date_last_imported.

    + is_visible (number, optional)

        Filter items by is_visible.

    + is_featured (number, optional)

        Filter items by is_featured.

    + is_free_shipping (number, optional)

        Filter items by is_free_shipping.

    + inventory_level (number, optional)

        Filter items by inventory_level.

    + inventory_low (number, optional)

        Filter items by inventory_low. Values: 1, 0.

    + out_of_stock (number, optional)

        Filter items by out_of_stock. To enable the filter, pass `out_of_stock`=`1`.

    + total_sold (number, optional)

        Filter items by total_sold.

    + type (string, optional)

        Filter items by type: `physical` or `digital`.

    + categories (number, optional)

        Filter items by categories.

    + keyword (string, optional)

        Filter items by keywords found in the `name`, `description`, or `sku` fields, or in the brand name.

    + keyword_context (enum[string], optional)

        Set context for a product search.

        + Members
            + `shopper` 
            + `merchant` 

    + status (number, optional)

        Filter items by status.

    + include (enum[string], optional)

        Sub-resources to include on a product, in a comma-separated list. Valid expansions currently include `variants`, `images`, 'primary_image`, `custom_fields`, and `bulk_pricing_rules`.

        + Members
            + `variants` 
            + `images` 
            + `custom_fields` 
            + `bulk_pricing_rules` 
            + `primary_image` 

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.

    + availability (enum[string], optional)

        Filter items by availability. Values are: available, disabled, preorder.

        + Members
            + `available` 
            + `disabled` 
            + `preorder` 

    + price_list_id (number, optional)

        The ID of the `Price List`.

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + direction (enum[string], optional)

        Sort direction. Acceptable values are: `asc`, `desc`.

        + Members
            + `asc` 
            + `desc` 

    + sort (enum[string], optional)

        Field name to sort by.

        + Members
            + `id` 
            + `name` 
            + `sku` 
            + `price` 
            + `date_modified` 
            + `date_last_imported` 
            + `inventory_level` 
            + `is_visible` 
            + `total_sold` 


+ Response 200 (application/json)

        An array of products and metadata.

    + Attributes (array[ProductCollectionResponse])


### createProduct [POST /catalog/products]

Creates a `Product` in the BigCommerce Catalog.

+ Request (application/json)
    + Attributes (ProductPost)


+ Response 200 (application/json)

        A product.


    + Attributes (ProductResponse)


+ Response 409 

        `Product` was in conflict with another product. This is the result of duplicate unique values, such as name or SKU; a missing or invalid `category_id`, `brand_id`, or `tax_class id`; or a conflicting `bulk_pricing_rule`.


+ Response 422 

        `Product` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
but

### deleteProducts [DELETE /catalog/products{?name,sku,price,weight,condition,brand_id,date_modified,date_last_imported,is_visible,is_featured,inventory_level,total_sold,type,categories,keyword}]
Deletes one or more `Product` objects from the BigCommerce Catalog.
+ Parameters
    + name (string, optional)

        Filter items by name.

    + sku (string, optional)

        Filter items by sku.

    + price (number, optional)

        Filter items by price.

    + weight (number, optional)

        Filter items by weight.

    + condition (number, optional)

        Filter items by condition.

    + brand_id (number, optional)

        Filter items by brand_id.

    + date_modified (string, optional)

        Filter items by date_modified.

    + date_last_imported (string, optional)

        Filter items by date_last_imported.

    + is_visible (number, optional)

        Filter items by is_visible.

    + is_featured (number, optional)

        Filter items by is_featured.

    + inventory_level (number, optional)

        Filter items by inventory_level.

    + total_sold (number, optional)

        Filter items by total_sold.

    + type (string, optional)

        Filter items by type: `physical` or `digital`.

    + categories (number, optional)

        Filter items by categories.

    + keyword (string, optional)

        Filter items by keywords found in the `name`, `description`, or `sku` fields, or in the brand name.


+ Response 204 

    Returns blank response



## Product by ProductId [/catalog/products/{product_id}]
`/catalog/products/{product_id}`

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.

### getProductById [GET /catalog/products/{product_id}{?include,include_fields,exclude_fields,price_list_id}]
Returns a `Product` from the BigCommerce Catalog.

+ Parameters        
    + include (enum[string], optional)

        Sub-resources to include on a product, in a comma-separated list. Valid expansions currently include `variants`, `images`, 'primary_image`, `custom_fields`, and `bulk_pricing_rules`.

        + Members
            + `variants` 
            + `images` 
            + `custom_fields` 
            + `bulk_pricing_rules` 
            + `primary_image` 

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.

    + price_list_id (number, optional)

        The ID of the `Price List`.


+ Response 200 (application/json)

        A product.



    + Attributes (ProductResponse)


+ Response 404 

        The resource was not found.


### updateProduct [PUT /catalog/products/{product_id}]
Updates a `Product` in the BigCommerce Catalog.

+ Request (application/json)
    + Attributes (ProductPut)


+ Response 200 (application/json)

        A product.



    + Attributes (ProductResponse)


+ Response 404 

        The resource was not found.

+ Response 409 

        `Product` was in conflict with another product. This is caused by: duplicate unique values, such as name or SKU; a missing category, brand, or tax_class with which the product is being associated; or a conflicting bulk pricing rule.


+ Response 422 

        `Product` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.


### deleteProductById [DELETE /catalog/products/{product_id}]
Deletes a `Product` object from the BigCommerce Catalog.


+ Response 204 

    Blank Response

## Product Images By Product Id [/catalog/products/{product_id}/images]
`/catalog/products/{product_id}/images`

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.

### getProductImages [GET /catalog/products/{product_id}/images{?page,limit,include_fields,exclude_fields}]
Gets all images on a product.

+ Parameters

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 204 (application/json)

        List of product images and metadata.



    + Attributes (ProductImageCollectionResponse)


+ Response 404 

        The product ID does not exist.


### createProductImage [POST /catalog/products/{product_id}/images]
Creates an image on a product. Publicly accessible URLs and files (form post) are valid parameters.

+ Request (application/json)
    + Attributes (ProductImagePost)


+ Response 200 (application/json)

        A product image.



    + Attributes (ProductImageResponse)


+ Response 404 

        The product ID does not exist.


## Product Images with ImageId [/catalog/products/{product_id}/images/{image_id}]
`/catalog/products/{product_id}/images/{image_id}`

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.

    + image_id (number, required)

        The ID of the `Image` that is being operated on.


### getProductImageById [GET /catalog/products/{product_id}/images/{image_id}{?include_fields,exclude_fields}]
Gets image on a product.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of product images and metadata.



    + Attributes (ProductImageResponse)


+ Response 404 

        The resource was not found.


### updateProductImage [PUT /catalog/products/{product_id}/images/{image_id}]
Updates an image on a product. Publicly accessible URLs and files (form post) are valid parameters.

+ Request (application/json)
    + Attributes (ProductImageBase)


+ Response 200 (application/json)

        A product image.



    + Attributes (ProductImageResponse)


+ Response 404 

        The resource was not found.


### deleteProductImage [DELETE /catalog/products/{product_id}/images/{image_id}]
Deletes a `ProductImage` in the BigCommerce Catalog.

+ Response 204 


## Products Videos By Product Id [/catalog/products/{product_id}/videos]
`/catalog/products/{product_id}/videos`

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.


### getProductVideos [GET /catalog/products/{product_id}/videos{?include_fields,exclude_fields}]
Gets all videos on a product.

+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        List of product videos and metadata.



    + Attributes (ProductVideoCollectionResponse)


### createProductVideo [POST /catalog/products/{product_id}/videos]
Creates a video on a product, using a video ID from a host site.

+ Request (application/json)
    + Attributes (ProductVideoPost)


+ Response 200 (application/json)

        A product video.



    + Attributes (ProductVideoResponse)


+ Response 404 

        The resource was not found.



## Products Videos with VideoId [/catalog/products/{product_id}/videos/{video_id}]
`/catalog/products/{product_id}/videos/{video_id}`

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + video_id (string, required)

        The ID of the `Video` that is being operated on.


### getProductVideoById [GET /catalog/products/{product_id}/videos/{video_id}{?include_fields,exclude_fields}]
Gets video on a product.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of product videos and metadata.



    + Attributes (ProductVideoResponse)


+ Response 404 

        The resource was not found.


### updateProductVideo [PUT /catalog/products/{product_id}/videos/{video_id}]
Updates a video on a product.

+ Request (application/json)
    + Attributes (ProductVideoPut)


+ Response 200 (application/json)

        A product video.



    + Attributes (ProductVideoResponse)


+ Response 404 

        The resource was not found.





### deleteProductVideo [DELETE /catalog/products/{product_id}/videos/{video_id}]
Deletes a `ProductVideo` in the BigCommerce Catalog.

+ Response 204 




## Catalog Products Variants By Product Id [/catalog/products/{product_id}/variants]
`/catalog/products/{product_id}/variants`

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### getVariantsByProductId [GET /catalog/products/{product_id}/variants]
Returns a `Variant` object list from the BigCommerce Catalog.

+ Parameters
    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of variants and metadata.



    + Attributes (VariantCollectionResponse)


+ Response 404 

        The resource was not found.



### createVariant [POST /catalog/products/{product_id}/variants]
Creates a `Variant` object.

+ Request (application/json)
    + Attributes (VariantPost)


+ Response 200 (application/json)

        A variant and metadata.



    + Attributes (VariantResponse)


+ Response 404 

        The resource was not found.



## Catalog Products Variants By Product Id [/catalog/products/{product_id}/variants/{variant_id}]
`/catalog/products/{product_id}/variants/{variant_id}`

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + variant_id (number, required)

        ID of the variant on a product, or on an associated Price List Record.{INT}


### getVariantById [GET /catalog/products/{product_id}/variants/{variant_id}]
Gets a `Variant` object.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A variant and metadata.



    + Attributes (VariantResponse)


+ Response 404 

        The resource was not found.


### updateVariant [PUT /catalog/products/{product_id}/variants/{variant_id}]
Updates a `Variant` object.

+ Request (application/json)
    + Attributes (VariantPut)


+ Response 200 (application/json)

        A variant and metadata.



    + Attributes (VariantResponse)


+ Response 404 

        The resource was not found.



### deleteVariantById [DELETE /catalog/products/{product_id}/variants/{variant_id}]
Deletes a `Variant`.

+ Response 204 

        A blank response



## Catalog Products Variants Metafields [/catalog/products/{product_id}/variants/{variant_id}/metafields]
`/catalog/products/{product_id}/variants/{variant_id}/metafields`

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + variant_id (number, required)

        ID of the variant on a product, or on an associated Price List Record.{INT}


### getVariantMetafieldsByProductIdAndVariantId [GET /catalog/products/{product_id}/variants/{variant_id}/metafields{?page,limit,key,namespace,include_fields,exclude_fields}]
Gets a `Metafield` object list, by `product_id` and `variant_id`.
+ Parameters
    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + key (string, optional)

        Filter based on a metafield's key.

    + namespace (string, optional)

        Filter based on a metafield's key.

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of metafields and metadata.



    + Attributes (MetaFieldCollectionResponse)


+ Response 404 

        The resource was not found.



### createVariantMetafield [POST /catalog/products/{product_id}/variants/{variant_id}/metafields]
Creates a variant `Metafield`.

+ Request (application/json)
    + Attributes (MetafieldBase)


+ Response 200 (application/json)

        A `Metafield` object.



    + Attributes (MetafieldResponse)


+ Response 409 

        The `Metafield` was in conflict with another `Metafield`. This can be the result of duplicate unique-key combinations of the app's client id, namespace, key, resource_type, and resource_id.






+ Response 422 

        The `Metafield` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.





## Catalog Products Variants Metafields Metafield Id [/catalog/products/{product_id}/variants/{variant_id}/metafields/{metafield_id}]

+ Parameters
    + metafield_id (number, required)

        The ID of the `Metafield`.{INT}

    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + variant_id (number, required)

        ID of the variant on a product, or on an associated Price List Record.{INT}


### getVariantMetafieldByProductIdAndVariantId [GET /catalog/products/{product_id}/variants/{variant_id}/metafields/{metafield_id}{?include_fields,exclude_fields}]
Gets a `Metafield`, by `product_id` and `variant_id`.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `Metafield` object.



    + Attributes (MetafieldResponse)


+ Response 404 

        The resource was not found.



### updateVariantMetafield [PUT /catalog/products/{product_id}/variants/{variant_id}/metafields/{metafield_id}]
Updates a `Metafield` object.

+ Request (application/json)
    + Attributes (MetafieldPut)


+ Response 200 (application/json)

        A metafield and metadata.



    + Attributes (MetafieldResponse)


+ Response 404 

        The resource was not found.






### deleteVariantMetafieldById [DELETE /catalog/products/{product_id}/variants/{variant_id}/metafields/{metafield_id}]
Deletes a `Metafield`.

+ Response 204 




## Catalog Products Variants Image [/catalog/products/{product_id}/variants/{variant_id}/image]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + variant_id (number, required)

        ID of the variant on a product, or on an associated Price List Record.{INT}


### createVariantImage [POST /catalog/products/{product_id}/variants/{variant_id}/image]
+ Attributes
    + image_file (string, required)

        An image file. Supported MIME types include GIF, JPEG, and PNG.


+ Request (application/x-www-form-urlencoded)



+ Response 200 (application/json)

        A ResourceImage and metadata.



    + Attributes (ImageResponse)


+ Response 404 

        The resource was not found.



+ Response 422 

        Image was not valid. This is the result of a missing `image_file` field or of an incorrect file type. See the response for more details.



## Catalog Products Options By Product Id [/catalog/products/{product_id}/options]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### getOptions [GET /catalog/products/{product_id}/options{?page,limit,include_fields,exclude_fields}]
Gets an array of `Option` objects.
+ Parameters
    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of options and metadata.



    + Attributes (OptionCollectionResponse)


+ Response 404 

        The resource was not found.


### createOption [POST /catalog/products/{product_id}/options]
Creates an `Option`.

+ Request (application/json)
    + Attributes (OptionBase)


+ Response 200 (application/json)

        An `Option` object.



    + Attributes (OptionResponse)


+ Response 409 

        Option was in conflict with another option. This is the result of duplicate unique fields, such as `name`.



+ Response 422 

        Option was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.



## Catalog Products Options By Product Id [/catalog/products/{product_id}/options/{option_id}]
`/catalog/products/{product_id}/options/{option_id}`

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.

    + option_id (number, required)

        The ID of the `Option`.


### getOptionById [GET /catalog/products/{product_id}/options/{option_id}{?include_fields,exclude_fields}]
Gets `Option` object by product ID and option ID.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An `Option` object.



    + Attributes (OptionResponse)


+ Response 404 

        The resource was not found.


### updateOption [PUT /catalog/products/{product_id}/options/{option_id}]
Updates a Product's `Option`, based on the `product_id` and `option_id`.

+ Request (application/json)
    + Attributes (OptionBase)


+ Response 200 (application/json)

        An `Option` object.



    + Attributes (OptionResponse)


+ Response 409 

        The `Option` was in conflict with another option. This is the result of duplicate unique fields, such as `name`.


+ Response 422 

        The `Option` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteOptionById [DELETE]
Deletes a Product's `Option`, based on the `product_id` and `option_id`.

+ Response 204 




## Catalog Products Options Values [/catalog/products/{product_id}/options/{option_id}/values]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.

    + option_id (number, required)

        The ID of the `Option`.


### getOptionValues [GET /catalog/products/{product_id}/options/{option_id}/values{?include_fields,exclude_fields}]
Gets an array of `OptionValue` objects.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of option values and metadata.



    + Attributes (OptionValueCollectionResponse)



### createOptionValue [POST /catalog/products/{product_id}/options/{option_id}/values]
Creates a `OptionValue`.

+ Request (application/json)
    + Attributes (OptionValueBase)


+ Response 200 (application/json)

        A `OptionValue` object.



    + Attributes (OptionValueResponse)


+ Response 422 

        The `OptionValue` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.



## Catalog Products Options Values Value Id [/catalog/products/{product_id}/options/{option_id}/values/{value_id}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.

    + option_id (number, required)

        The ID of the `Option`.{INT}

    + value_id (number, required)

        The ID of the `Modifier/Option Value`.


### getOptionValueById [GET /catalog/products/{product_id}/options/{option_id}/values/{value_id}{?include_fields,exclude_fields}]
Gets a `OptionValue` by `product_id`, `option_id`, and `value_id`.

+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `OptionValue` object.



    + Attributes (OptionValueResponse)


+ Response 404 

        The resource was not found.



### updateOptionValue [PUT /catalog/products/{product_id}/options/{option_id}/values/{value_id}]
Updates a Product's `OptionValue` based on the `product_id`, `option_id`, and `value_id`.

+ Request (application/json)
    + Attributes (OptionValuePut)


+ Response 200 (application/json)

        A `OptionValue` object.



    + Attributes (OptionValueResponse)


+ Response 422 

        The `OptionValue` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.



### deleteOptionValueById [DELETE /catalog/products/{product_id}/options/{option_id}/values/{value_id}]
Deletes a Product's `OptionValue` based on the `product_id`, `option_id`, and `value_id`.

+ Response 204 


## Catalog Products Modifiers By Product Id [/catalog/products/{product_id}/modifiers]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### getModifiers [GET /catalog/products/{product_id}/modifiers{?page,limit,include_fields,exclude_fields}]
Gets an array of `Modifier` objects.
+ Parameters
    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of modifiers and metadata.



    + Attributes (ModifierCollectionResponse)


### createModifier [POST /catalog/products/{product_id}/modifiers]
Creates a `Modifier`.

+ Request (application/json)
    + Attributes (ModifierPost)


+ Response 200 (application/json)

        A `Modifier` object.



    + Attributes (ModifierResponse)


+ Response 409 

        The `Modifier` was in conflict with another option. This is the result of duplicate unique fields, such as `name`.



+ Response 422 

        The `Modifier` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.




## Catalog Products Modifiers By Product Id [/catalog/products/{product_id}/modifiers/{modifier_id}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + modifier_id (number, required)

        The ID of the `Modifier`.{INT}


### getModifierById [GET /catalog/products/{product_id}/modifiers/{modifier_id}{?include_fields,exclude_fields}]
Gets a `Modifier` by product_id and modifier_id.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `Modifier` object.



    + Attributes (ModifierResponse)


+ Response 404 

        The resource was not found.


### updateModifier [PUT /catalog/products/{product_id}/modifiers/{modifier_id}]
Updates a Product's `Modifier` based on the `product_id` and `modifier_id`.

+ Request (application/json)
    + Attributes (ModifierBase)


+ Response 200 (application/json)

        A `Modifier` object.



    + Attributes (ModifierResponse)


+ Response 409 

        The `Modifier` was in conflict with another modifier or option. This is the result of duplicate unique fields, such as `name`.


+ Response 422 

        The `Modifier` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteModifierById [DELETE /catalog/products/{product_id}/modifiers/{modifier_id}]
Deletes a Product's `Modifier` based on the `product_id` and `modifier_id`.

+ Response 204 



## Catalog Products Modifiers Values [/catalog/products/{product_id}/modifiers/{modifier_id}/values]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + modifier_id (number, required)

        The ID of the `Modifier`.{INT}


### getModifierValues [GET /catalog/products/{product_id}/modifiers/{modifier_id}/values{?include_fields,exclude_fields}]
Gets an array of `ModifierValue` objects.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of modifier values and metadata.



    + Attributes (ModifierValueCollectionResponse)


### createModifierValue [POST /catalog/products/{product_id}/modifiers/{modifier_id}/values]
Creates a `ModifierValue`.

+ Request (application/json)
    + Attributes (ModifierValueBase)


+ Response 200 (application/json)

        A `ModifierValue` object.



    + Attributes (ModifierValueResponse)


+ Response 422 

        The `ModifierValue` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.



## Catalog Products Modifiers Values Value Id [/catalog/products/{product_id}/modifiers/{modifier_id}/values/{value_id}{?include_fields,exclude_fields}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + modifier_id (number, required)

        The ID of the `Modifier`.{INT}

    + value_id (number, required)

        The ID of the `Modifier/Option Value`.{INT}


### getModifierValueById [GET]
Gets a `ModifierValue` by `product_id`, `modifier_id`, and `value_id`.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `ModifierValue` object.



    + Attributes (ModifierValueResponse)


+ Response 404 

        The resource was not found.







## Catalog Products Modifiers Values Value Id [/catalog/products/{product_id}/modifiers/{modifier_id}/values/{value_id}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + modifier_id (number, required)

        The ID of the `Modifier`.{INT}

    + value_id (number, required)

        The ID of the `Modifier/Option Value`.{INT}


### updateModifierValue [PUT]
Updates a Product's `ModifierValue` based on the `product_id`, `modifier_id`, and `value_id`.

+ Request (application/json)
    + Attributes (ModifierValuePut)


+ Response 200 (application/json)

        A `ModifierValue` object.



    + Attributes (ModifierValueResponse)


+ Response 422 

        The `ModifierValue` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteModifierValueById [DELETE]
Deletes a Product's `ModifierValue` based on the `product_id`, `modifier_id`, and `value_id`.

+ Response 204 




## Catalog Products Modifiers Values Value Id Image [/catalog/products/{product_id}/modifiers/{modifier_id}/values/{value_id}/image]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + modifier_id (number, required)

        The ID of the `Modifier`.{INT}

    + value_id (number, required)

        The ID of the `Modifier`.{INT}


### createModifierImage [POST]
Adds an image to a modifier value; the image will show on the storefront when the value is selected.
+ Attributes
    + image_file (string, required)

        An image file. Supported MIME types include GIF, JPEG, and PNG.


+ Request (application/x-www-form-urlencoded)



+ Response 200 (application/json)

        A ResourceImage and metadata.



    + Attributes (ImageResponse)


+ Response 404 

        The resource was not found.






+ Response 422 

        Modifier image was not valid. This is the result of missing `image_file` fields, or of a non-URL value for the `image_file` field. See the response for more details.






### deleteModifierImage [DELETE]
Deletes the image that was set to show when the modifier value is selected.

+ Response 204 




## Catalog Products Complex Rules [/catalog/products/{product_id}/complex-rules{?include_fields,exclude_fields}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### getComplexRules [GET]
Gets an array of `ComplexRule` objects.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of `ComplexRule` objects and metadata.



    + Attributes (ComplexRuleCollectionResponse)



## Catalog Products Complex Rules [/catalog/products/{product_id}/complex-rules]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### createComplexRule [POST]
Creates a `ComplexRule`.

+ Request (application/json)
    + Attributes (ComplexRulePost)


+ Response 200 (application/json)

        A `ComplexRule` object.



    + Attributes (ComplexRuleResponse)


+ Response 409 

        The `ComplexRule` was in conflict with another `ComplexRule`. This is the result of duplicate conditions.






+ Response 422 

        The `ComplexRule` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.







## Catalog Products Complex Rules [/catalog/products/{product_id}/complex-rules/{complex_rule_id}{?include_fields,exclude_fields}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + complex_rule_id (number, required)

        The ID of the `ComplexRule`.{INT}


### getComplexRuleById [GET]
Gets a `ComplexRule` by product_id.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `Modifier` object.



    + Attributes (ComplexRuleResponse)


+ Response 404 

        The resource was not found.







## Catalog Products Complex Rules [/catalog/products/{product_id}/complex-rules/{complex_rule_id}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + complex_rule_id (number, required)

        The ID of the `ComplexRule`.{INT}


### updateComplexRule [PUT]
Updates a Product's `ComplexRule`, based on the `product_id` and `complex_rule_id`.

+ Request (application/json)
    + Attributes (ComplexRulePut)


+ Response 200 (application/json)

        A `ComplexRule` object.



    + Attributes (ComplexRuleResponse)


+ Response 409 

        The `ComplexRule` was in conflict with another `ComplexRule`. This is the result of duplicate conditions.






+ Response 422 

        The `ComplexRule` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteComplexRuleById [DELETE]
Deletes a Product's `ComplexRule`, based on the `product_id` and `complex_rule_id`.

+ Response 204 




## Catalog Products Configurable Fields [/catalog/products/{product_id}/configurable-fields{?include_fields,exclude_fields,page,limit}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### getConfigurableFields [GET]
Gets an array of `ConfigurableField` objects.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.


+ Response 200 (application/json)

        An array of `ConfigurableField` objects and metadata.



    + Attributes (ConfigurableFieldCollectionResponse)



## Catalog Products Configurable Fields [/catalog/products/{product_id}/configurable-fields]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### createConfigurableField [POST]
Creates a `ConfigurableField`.

+ Request (application/json)
    + Attributes (ConfigurableFieldBase)


+ Response 200 (application/json)

        A `ConfigurableField` object.



    + Attributes (ConfigurableFieldResponse)


+ Response 404 

        The parent resource was not found.






+ Response 422 

        The `ConfigurableField` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.







## Catalog Products Configurable Fields [/catalog/products/{product_id}/configurable-fields/{configurable_field_id}{?include_fields,exclude_fields}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + configurable_field_id (number, required)

        The ID of the `ConfigurableField`.{INT}


### getConfigurableFieldById [GET]
Gets a `ConfigurableField` by `product_id` and `configurable_field_id`.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `ConfigurableField` object.



    + Attributes (ConfigurableFieldResponse)


+ Response 404 

        The resource was not found.







## Catalog Products Configurable Fields [/catalog/products/{product_id}/configurable-fields/{configurable_field_id}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + configurable_field_id (number, required)

        The ID of the `ConfigurableField`.{INT}


### updateConfigurableField [PUT]
Updates a Product's `ConfigurableField`, based on the `product_id` and `configurable_field_id`.

+ Request (application/json)
    + Attributes (ConfigurableField)


+ Response 200 (application/json)

        A `ConfigurableField` object.



    + Attributes (ConfigurableFieldResponse)


+ Response 404 

        The resource was not found.






+ Response 422 

        The `ConfigurableField` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteConfigurableFieldById [DELETE]
Deletes a Product's `ConfigurableField`, based on the `product_id` and `configurable_field_id`.

+ Response 204 



+ Response 404 

        The resource was not found.







## Catalog Products Custom Fields [/catalog/products/{product_id}/custom-fields{?include_fields,exclude_fields,page,limit}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### getCustomFields [GET]
Gets an array of `CustomField` objects.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.


+ Response 200 (application/json)

        An array of `CustomField` objects and metadata.



    + Attributes (CustomFieldCollectionResponse)



## Catalog Products Custom Fields [/catalog/products/{product_id}/custom-fields]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### createCustomField [POST]
Creates a `CustomField`.

+ Request (application/json)
    + Attributes (CustomFieldBase)


+ Response 200 (application/json)

        A `CustomField` object.



    + Attributes (CustomFieldResponse)


+ Response 404 

        The parent resource was not found.






+ Response 422 

        The `CustomField` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.







## Catalog Products Custom Fields [/catalog/products/{product_id}/custom-fields/{custom_field_id}{?include_fields,exclude_fields}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + custom_field_id (number, required)

        The ID of the `CustomField`.{INT}


### getCustomFieldById [GET]
Gets a `CustomField` by `product_id` and `custom_field_id`.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `CustomField` object.



    + Attributes (CustomFieldResponse)


+ Response 404 

        The resource was not found.







## Catalog Products Custom Fields [/catalog/products/{product_id}/custom-fields/{custom_field_id}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + custom_field_id (number, required)

        The ID of the `CustomField`.{INT}


### updateCustomField [PUT]
Updates a Product's `CustomField`, based on the `product_id` and `custom_field_id`.

+ Request (application/json)
    + Attributes (CustomField)


+ Response 200 (application/json)

        A `CustomField` object.



    + Attributes (CustomFieldResponse)


+ Response 404 

        The resource was not found.






+ Response 422 

        The `CustomField` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteCustomFieldById [DELETE]
Deletes a Product's `CustomField`, based on the `product_id` and `custom_field_id`.

+ Response 204 



+ Response 404 

        The resource was not found.







## Catalog Products Bulk Pricing Rules [/catalog/products/{product_id}/bulk-pricing-rules{?include_fields,exclude_fields,page,limit}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### getBulkPricingRules [GET]
Gets an array of `BulkPricingRule` objects.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.


+ Response 200 (application/json)

        An array of `BulkPricingRule` objects and metadata.



    + Attributes (BulkPricingRuleCollectionResponse)


+ Response 404 

        The parent resource was not found.







## Catalog Products Bulk Pricing Rules [/catalog/products/{product_id}/bulk-pricing-rules{?page,limit}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### createBulkPricingRule [POST]
Creates a `BulkPricingRule`.
+ Parameters
    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.


+ Request (application/json)
    + Attributes (BulkPricingRuleBase)


+ Response 200 (application/json)

        A `BulkPricingRule` object.



    + Attributes (BulkPricingRuleResponse)


+ Response 404 

        The parent resource was not found.






+ Response 409 

        The `BulkPricingRule` was in conflict with another bulk pricing rule. This is the result of quantity range overlapping with existing bulk pricing rules.






+ Response 422 

        The `BulkPricingRule` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.







## Catalog Products Bulk Pricing Rules [/catalog/products/{product_id}/bulk-pricing-rules/{bulk_pricing_rule_id}{?include_fields,exclude_fields}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + bulk_pricing_rule_id (number, required)

        The ID of the `BulkPricingRule`.{INT}


### getBulkPricingRuleById [GET]
Gets a `BulkPricingRule` by `product_id` and `bulk_pricing_rule_id`.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `BulkPricingRule` object.



    + Attributes (BulkPricingRuleResponse)


+ Response 404 

        The resource or parent resource was not found.







## Catalog Products Bulk Pricing Rules [/catalog/products/{product_id}/bulk-pricing-rules/{bulk_pricing_rule_id}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + bulk_pricing_rule_id (number, required)

        The ID of the `BulkPricingRule`.{INT}


### updateBulkPricingRule [PUT]
Updates a Product's `BulkPricingRule`, based on the `product_id` and `bulk_pricing_rule_id`.

+ Request (application/json)
    + Attributes (BulkPricingRule)


+ Response 200 (application/json)

        A `BulkPricingRule` object.



    + Attributes (BulkPricingRuleResponse)


+ Response 404 

        The resource or parent resource was not found.






+ Response 409 

        The `BulkPricingRule` was in conflict with another bulk pricing rule. This is the result of quantity range overlapping with existing bulk pricing rules.






+ Response 422 

        The `BulkPricingRule` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteBulkPricingRuleById [DELETE]
Deletes a Product's `BulkPricingRule`, based on the `product_id` and `bulk_pricing_rule_id`.

+ Response 204 



+ Response 404 

        The resource or parent resource was not found.







## Catalog Products Metafields [/catalog/products/{product_id}/metafields{?page,limit,key,namespace,include_fields,exclude_fields}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### getProductMetafieldsByProductId [GET]
Gets a `Metafield` object list, by `product_id`.
+ Parameters
    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + key (string, optional)

        Filter based on a metafield's key.

    + namespace (string, optional)

        Filter based on a metafield's key.

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of metafields and metadata.



    + Attributes (MetaFieldCollectionResponse)


+ Response 404 

        The resource was not found.







## Catalog Products Metafields [/catalog/products/{product_id}/metafields]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### createProductMetafield [POST]
Creates a product `Metafield`.

+ Request (application/json)
    + Attributes (MetafieldBase)


+ Response 200 (application/json)

        A `Metafield` object.



    + Attributes (MetafieldResponse)


+ Response 409 

        The `Metafield` was in conflict with another `Metafield`. This can be the result of duplicate unique key combinations of the app's client id, namespace, key, resource_type, and resource_id.






+ Response 422 

        The `Metafield` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.







## Catalog Products Metafields [/catalog/products/{product_id}/metafields/{metafield_id}{?include_fields,exclude_fields}]

+ Parameters
    + metafield_id (number, required)

        The ID of the `Metafield`.{INT}

    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### getProductMetafieldByProductId [GET]
Gets a `Metafield`, by `product_id`.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `Metafield` object.



    + Attributes (MetafieldResponse)


+ Response 404 

        The resource was not found.







## Catalog Products Metafields [/catalog/products/{product_id}/metafields/{metafield_id}]

+ Parameters
    + metafield_id (number, required)

        The ID of the `Metafield`.{INT}

    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### updateProductMetafield [PUT]
Updates a `Metafield` object.

+ Request (application/json)
    + Attributes (MetafieldPut)


+ Response 200 (application/json)

        A metafield and metadata.



    + Attributes (MetafieldResponse)


+ Response 404 

        The resource was not found.






### deleteProductMetafieldById [DELETE]
Deletes a `Metafield`.

+ Response 204 




## Catalog Products Reviews By Product Id [/catalog/products/{product_id}/reviews{?include_fields,exclude_fields,page,limit}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### getProductReviews [GET]
Gets all reviews on a product.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.


+ Response 204 (application/json)

        List of product reviews and metadata.



    + Attributes (ProductReviewCollectionResponse)


+ Response 404 

        The product ID does not exist.







## Catalog Products Reviews By Product Id [/catalog/products/{product_id}/reviews]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}


### createProductReview [POST]
Creates a product review.

+ Request (application/json)
    + Attributes (ProductReviewBase)


+ Response 200 (application/json)

        A product review.



    + Attributes (ProductReviewResponse)


+ Response 404 

        The product ID does not exist.







## Catalog Products Reviews By Product Id [/catalog/products/{product_id}/reviews/{review_id}{?include_fields,exclude_fields}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + review_id (number, required)

        The ID of the `review` that is being operated on.{INT}


### getProductReviewById [GET]
Gets a product review.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of product reviews and metadata.



    + Attributes (ProductReviewResponse)


+ Response 404 

        The resource was not found.







## Catalog Products Reviews By Product Id [/catalog/products/{product_id}/reviews/{review_id}]

+ Parameters
    + product_id (number, required)

        The ID of the `Product` to which the resource belongs.{INT}

    + review_id (number, required)

        The ID of the `review` that is being operated on.{INT}


### updateProductReview [PUT]
Updates a product review.

+ Request (application/json)
    + Attributes (ProductReviewBase)


+ Response 200 (application/json)

        A product review.



    + Attributes (ProductReviewResponse)


+ Response 404 

        The resource was not found.






### deleteProductReview [DELETE]
Deletes a `ProductReview` in the BigCommerce Catalog.

+ Response 204 




## Catalog Categories [/catalog/categories{?name,parent_id,page_title,keyword,is_visible,page,limit,include_fields,exclude_fields}]

### getCategories [GET]
Returns a paginated categories collection from the BigCommerce Catalog.
+ Parameters
    + name (string, optional)

        Filter items by name.

    + parent_id (number, optional)

        Filter items by parent_id.

    + page_title (string, optional)

        Filter items by page_title.

    + keyword (string, optional)

        Filter items by keywords.

    + is_visible (number, optional)

        Filter items by is_visible.

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of category objects and metadata.



    + Attributes (CategoryCollectionResponse)



## Catalog Categories [/catalog/categories]

### createCategory [POST]
Creates a `Category` in the BigCommerce Catalog.

+ Request (application/json)
    + Attributes (CategoryBase)


+ Response 200 (application/json)

        A category object.



    + Attributes (CategoryResponse)


+ Response 409 

        The `Category` was in conflict with another category. This is the result of duplicate unique values, such as `name` or `custom_url`.






+ Response 422 

        The `Category` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.







## Catalog Categories [/catalog/categories{?name,parent_id,page_title,keyword,is_visible}]

### deleteCategories [DELETE]
Deletes one or more `Category` objects from the BigCommerce Catalog.
+ Parameters
    + name (string, optional)

        Filter items by name.

    + parent_id (number, optional)

        Filter items by parent_id.

    + page_title (string, optional)

        Filter items by page_title.

    + keyword (string, optional)

        Filter items by keywords.

    + is_visible (number, optional)

        Filter items by is_visible.


+ Response 204 




## Catalog Categories By Category Id [/catalog/categories/{category_id}{?include_fields,exclude_fields}]

+ Parameters
    + category_id (number, required)

        The ID of the `Category` to which the resource belongs.{INT}


### getCategoryById [GET]
Returns a `Category` from the BigCommerce Catalog.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A category object.



    + Attributes (CategoryResponse)


+ Response 404 

        The resource was not found.







## Catalog Categories By Category Id [/catalog/categories/{category_id}]

+ Parameters
    + category_id (number, required)

        The ID of the `Category` to which the resource belongs.{INT}


### updateCategory [PUT]
Updates a `Category` in the BigCommerce Catalog.

+ Request (application/json)
    + Attributes (CategoryBase)


+ Response 200 (application/json)

        A category object.



    + Attributes (CategoryResponse)


+ Response 404 

        The resource was not found.






+ Response 409 

        The `Category` was in conflict with another category. This is the result of duplicate unique values, such as `name` or `custom_url`.






+ Response 422 

        The `Category` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteCategoryById [DELETE]
Deletes one or more `Category` objects from the BigCommerce catalog.

+ Response 204 




## Catalog Categories Metafields [/catalog/categories/{category_id}/metafields{?page,limit,key,namespace,include_fields,exclude_fields}]

+ Parameters
    + category_id (number, required)

        The ID of the `Category` to which the resource belongs.{INT}


### getCategoryMetafieldsByCategoryId [GET]
Gets a `Metafield` object list, by category_id.
+ Parameters
    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + key (string, optional)

        Filter based on a metafield's key.

    + namespace (string, optional)

        Filter based on a metafield's key.

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of metafields and metadata.



    + Attributes (MetaFieldCollectionResponse)


+ Response 404 

        The resource was not found.







## Catalog Categories Metafields [/catalog/categories/{category_id}/metafields]

+ Parameters
    + category_id (number, required)

        The ID of the `Category` to which the resource belongs.{INT}


### createCategoryMetafield [POST]
Creates a product `Metafield`.

+ Request (application/json)
    + Attributes (MetafieldBase)


+ Response 200 (application/json)

        A `Metafield` object.



    + Attributes (MetafieldResponse)


+ Response 409 

        The `Metafield` was in conflict with another `Metafield`. This can be the result of duplicate, unique key combinations of the app's client id, namespace, key, resource_type, and resource_id.






+ Response 422 

        The `Metafield` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.







## Catalog Categories Metafields [/catalog/categories/{category_id}/metafields/{metafield_id}{?include_fields,exclude_fields}]

+ Parameters
    + metafield_id (number, required)

        The ID of the `Metafield`.{INT}

    + category_id (number, required)

        The ID of the `Category` to which the resource belongs.{INT}


### getCategoryMetafieldByCategoryId [GET]
Gets a `Metafield` by category_id.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `Metafield` object.



    + Attributes (MetafieldResponse)


+ Response 404 

        The resource was not found.







## Catalog Categories Metafields [/catalog/categories/{category_id}/metafields/{metafield_id}]

+ Parameters
    + metafield_id (number, required)

        The ID of the `Metafield`.{INT}

    + category_id (number, required)

        The ID of the `Category` to which the resource belongs.{INT}


### updateCategoryMetafield [PUT]
Updates a `Metafield` object.

+ Request (application/json)
    + Attributes (MetafieldPut)


+ Response 200 (application/json)

        A metafield and metadata.



    + Attributes (MetafieldResponse)


+ Response 404 

        The resource was not found.






### deleteCategoryMetafieldById [DELETE]
Deletes a `Metafield`.

+ Response 204 




## Catalog Categories Image By Category Id [/catalog/categories/{category_id}/image]

+ Parameters
    + category_id (number, required)

        The ID of the `Category` to which the resource belongs.{INT}


### createCategoryImage [POST]
Creates an image on a category. Publicly accessible URLs and files (form post) are valid parameters.
+ Attributes
    + image_file (string, required)

        An image file. Supported MIME types include GIF, JPEG, and PNG.


+ Request (application/x-www-form-urlencoded)



+ Response 200 (application/json)

        A ResourceImage and metadata.



    + Attributes (ImageResponse)


+ Response 404 

        The resource was not found.






+ Response 422 

        Image was not valid. This is the result of a missing `image_file` field or an incorrect file type. See the response for more details.






### deleteCategoryImage [DELETE]
Deletes a `Category` image from the BigCommerce Catalog.

+ Response 204 




## Catalog Categories Tree [/catalog/categories/tree]

### getCategoryTree [GET]
Returns the categories tree, a nested lineage of the categories with parent->child relationship. The `Category` objects returned are simplified versions of the category objects returned in the rest of this API.

+ Response 200 (application/json)

        A array of nested category tree objects and metadata.



    + Attributes (CategoryTreeCollectionResponse)



## Catalog Brands [/catalog/brands{?name,page_title,page,limit,include_fields,exclude_fields}]

### getBrands [GET]
Gets `Brand` objects.
+ Parameters
    + name (string, optional)

        Filter items by name.

    + page_title (string, optional)

        Filter items by page_title.

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of brand objects and metadata.



    + Attributes (BrandCollectionResponse)



## Catalog Brands [/catalog/brands]

### createBrand [POST]
Creates a `Brand` object.

+ Request (application/json)
    + Attributes (BrandBase)


+ Response 200 (application/json)

        A `Brand` object.



    + Attributes (BrandResponse)


+ Response 409 

        Brand was in conflict with another brand. This is the result of duplicate unique fields such as name.






+ Response 422 

        Brand was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.







## Catalog Brands [/catalog/brands{?name,page_title}]

### deleteBrands [DELETE]
Deletes one or more `Brand` objects from the BigCommerce Catalog.
+ Parameters
    + name (string, optional)

        Filter items by name.

    + page_title (string, optional)

        Filter items by page_title.


+ Response 204 




## Catalog Brands By Brand Id [/catalog/brands/{brand_id}{?include_fields,exclude_fields}]

+ Parameters
    + brand_id (number, required)

        The ID of the `Brand` to which the resource belongs.{INT}


### getBrandById [GET]
Gets a `Brand` object.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `Brand` object.



    + Attributes (BrandResponse)


+ Response 404 

        The resource was not found.







## Catalog Brands By Brand Id [/catalog/brands/{brand_id}]

+ Parameters
    + brand_id (number, required)

        The ID of the `Brand` to which the resource belongs.{INT}


### updateBrand [PUT]
Updates a `Brand` in the BigCommerce Catalog.

+ Request (application/json)
    + Attributes (BrandPut)


+ Response 200 (application/json)

        A `Brand` object.



    + Attributes (BrandResponse)


+ Response 404 

        The resource was not found.






+ Response 409 

        The `Brand` was in conflict with another product. This is the result of duplicate unique values, such as `name`.






+ Response 422 

        The `Brand` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteBrandById [DELETE]
Deletes a `Brand` from the BigCommerce Catalog.

+ Response 204 




## Catalog Brands Metafields By Brand Id [/catalog/brands/{brand_id}/metafields{?page,limit,key,namespace,include_fields,exclude_fields}]

+ Parameters
    + brand_id (number, required)

        The ID of the `Brand` to which the resource belongs.{INT}


### getBrandMetafieldsByBrandId [GET]
Gets a `Metafield` object list, by `brand_id`.
+ Parameters
    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + key (string, optional)

        Filter based on a metafield's key.

    + namespace (string, optional)

        Filter based on a metafield's key.

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of metafields and metadata.



    + Attributes (MetaFieldCollectionResponse)


+ Response 404 

        The resource was not found.







## Catalog Brands Metafields By Brand Id [/catalog/brands/{brand_id}/metafields]

+ Parameters
    + brand_id (number, required)

        The ID of the `Brand` to which the resource belongs.{INT}


### createBrandMetafield [POST]
Creates a product `Metafield`.

+ Request (application/json)
    + Attributes (MetafieldBase)


+ Response 200 (application/json)

        A `Metafield` object.



    + Attributes (MetafieldResponse)


+ Response 409 

        The `Metafield` was in conflict with another `Metafield`. This can be the result of duplicate unique key combination of the app's client id, namespace, key, resource_type, and resource_id.






+ Response 422 

        The `Metafield` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.







## Catalog Brands Metafields By Brand Id [/catalog/brands/{brand_id}/metafields/{metafield_id}{?include_fields,exclude_fields}]

+ Parameters
    + metafield_id (number, required)

        The ID of the `Metafield`.{INT}

    + brand_id (number, required)

        The ID of the `Brand` to which the resource belongs.{INT}


### getBrandMetafieldByBrandId [GET]
Gets a `Metafield`, by `category_id`.
+ Parameters
    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        A `Metafield` object.



    + Attributes (MetafieldResponse)


+ Response 404 

        The resource was not found.







## Catalog Brands Metafields By Brand Id [/catalog/brands/{brand_id}/metafields/{metafield_id}]

+ Parameters
    + metafield_id (number, required)

        The ID of the `Metafield`.{INT}

    + brand_id (number, required)

        The ID of the `Brand` to which the resource belongs.{INT}


### updateBrandMetafield [PUT]
Updates a `Metafield` object.

+ Request (application/json)
    + Attributes (MetafieldPut)


+ Response 200 (application/json)

        A metafield and metadata.



    + Attributes (MetafieldResponse)


+ Response 404 

        The resource was not found.






### deleteBrandMetafieldById [DELETE]
Deletes a `Metafield`.

+ Response 204 




## Catalog Brands Image By Brand Id [/catalog/brands/{brand_id}/image]

+ Parameters
    + brand_id (number, required)

        The ID of the `Brand` to which the resource belongs.{INT}


### createBrandImage [POST]
Creates an image on a `Brand`. Publicly accessible URLs and files (form post) are valid parameters.
+ Attributes
    + image_file (string, required)

        An image file. Supported MIME types include GIF, JPEG, and PNG.


+ Request (application/x-www-form-urlencoded)



+ Response 200 (application/json)

        A ResourceImage and metadata.



    + Attributes (ImageResponse)


+ Response 404 

        The resource was not found.






+ Response 422 

        Image was not valid. This is the result of a missing `image_file` field, or of an incorrect file type. See the response for more details.






### deleteBrandImage [DELETE]
Deletes a `Brand` image from the BigCommerce Catalog.

+ Response 204 




## Catalog Variants [/catalog/variants{?id,sku,page,limit,include_fields,exclude_fields}]

### getVariants [GET]
Returns a `Variant` object list from the BigCommerce Catalog.
+ Parameters
    + id (number, optional)

        Filter items by id.

    + sku (string, optional)

        Filter items by sku.

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + include_fields (string, optional)

        Fields to include, in a comma-separated list. The ID and the specified fields will be returned.

    + exclude_fields (string, optional)

        Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.


+ Response 200 (application/json)

        An array of variants and metadata.



    + Attributes (VariantCollectionResponse)


+ Response 404 

        The resource was not found.







## Catalog Summary [/catalog/summary]

### CatalogSummary [GET]
Returns a lightweight inventory summary from the BigCommerce Catalog.

+ Response 200 (application/json)

        An array of catalog summary and metadata.



    + Attributes (CatalogSummaryResponse)




# Group Customers

## Customers Subscribers [/customers/subscribers{?email,first_name,last_name,source,order_id,date_created,date_modified,page,limit}]

### getSubscribers [GET]
Returns a paginated Subscribers collection.
+ Parameters
    + email (string, optional)

        Filter items by email.

    + first_name (string, optional)

        Filter items by first_name.

    + last_name (string, optional)

        Filter items by last_name.

    + source (string, optional)

        Filter items by source.

    + order_id (number, optional)

        Filter items by order_id.

    + date_created (string, optional)

        Filter items by date_created.

    + date_modified (string, optional)

        Filter items by date_modified.

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.


+ Response 200 (application/json)

        An array of subscriber objects and metadata.



    + Attributes (SubscriberCollectionResponse)



## Customers Subscribers [/customers/subscribers]

### createSubscriber [POST]
Creates a `Subscriber` object.

+ Request (application/json)
    + Attributes (SubscriberBase)


+ Response 200 (application/json)

        A `Subscriber` object.



    + Attributes (SubscriberResponse)


+ Response 409 

        The `Subscriber` was in conflict with another subscriber. This is the result of duplicate unique values, such as email.






+ Response 422 

        The `Subscriber` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.







## Customers Subscribers [/customers/subscribers{?email,first_name,last_name,source,order_id,date_created,date_modified}]

### deleteSubscribers [DELETE]
Deletes a Subscriber or Subscribers from BigCommerce Customers.
+ Parameters
    + email (string, optional)

        Filter items by email.

    + first_name (string, optional)

        Filter items by first_name.

    + last_name (string, optional)

        Filter items by last_name.

    + source (string, optional)

        Filter items by source.

    + order_id (number, optional)

        Filter items by order_id.

    + date_created (string, optional)

        Filter items by date_created.

    + date_modified (string, optional)

        Filter items by date_modified.


+ Response 204 




## Customers Subscribers By Subscriber Id [/customers/subscribers/{subscriber_id}]

+ Parameters
    + subscriber_id (number, required)

        The ID of the `Subscriber` requested.{INT}


### getSubscriberById [GET]
Gets `Subscriber` object.

+ Response 200 (application/json)

        A `Subscriber` object.



    + Attributes (SubscriberResponse)


+ Response 404 

        The resource was not found.






### updateSubscriber [PUT]
Updates a `Subscriber` object.

+ Request (application/json)
    + Attributes (SubscriberBase)


+ Response 200 (application/json)

        A `Subscriber` object.



    + Attributes (SubscriberResponse)


+ Response 404 

        The resource was not found.






+ Response 409 

        The `Subscriber` was in conflict with another subscriber. This is the result of duplicate unique values, such as `email`.






+ Response 422 

        The `Subscriber` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteSubscriberById [DELETE]
Deletes a `Subscriber` object.

+ Response 204 





# Group Orders

## Orders Transactions By Order Id [/orders/{order_id}/transactions]

+ Parameters
    + order_id (number, required)

        The ID of the `Order` to which the transactions belong.{INT}


### getTransactions [GET]
Returns a collection of `Transaction` objects related to a BigCommerce Order.

+ Response 204 (application/json)

        An array of transactions.



    + Attributes (TransactionCollectionResponse)


+ Response 404 

        The resource was not found.






### createTransaction [POST]
Creates a new `Transaction` related to a BigCommerce Order.

+ Request (application/json)
    + Attributes (TransactionPost)


+ Response 204 (application/json)

        Successful transaction object created call



    + Attributes (TransactionResponse)


+ Response 404 

        The resource was not found.








# Group Themes

## Themes [/themes]

### getStoreThemes [GET]
Gets all store themes.

+ Response 200 (application/json)

        Returns all themes associated with the BigCommerce store.

    + Attributes (ThemesCollectionResponse)


+ Response 0 

        Error message.




### uploadTheme [POST]
Uploads a new theme to a BigCommerce store.
+ Attributes
    + file (string, required)

        The file.


+ Request (application/x-www-form-urlencoded)



+ Response 201 (application/json)

        Job ID for the background job processing the theme upload.

    + Attributes (JobId)


+ Response 0 

        Error message.





## Themes By Theme Id [/themes/{theme_id}]

+ Parameters
    + theme_id (string, required)

        The theme identifier.


### getStoreTheme [GET]
Gets a specified store theme.

+ Response 200 (application/json)

        The theme.

    + Attributes (ThemeResponse)


+ Response 0 

        Error message.




### deleteStoreTheme [DELETE]
Deletes a specified store theme.

+ Response 204 (application/json)

        No content found to fulfill the request.



    + Attributes (NoContent)


+ Response 0 

        Error message.





## Themes Actions Download By Theme Id [/themes/{theme_id}/actions/download]

+ Parameters
    + theme_id (string, required)

        The theme identifier.


### downloadTheme [POST]
Downloads a specified store theme.

+ Request (application/json)
    + Attributes (WhichThemeToDownload)


+ Response 200 (application/json)

        Job ID for the background job processing the download.



    + Attributes (JobId)


+ Response 0 

        Error message.





## Themes Actions Activate [/themes/actions/activate]

### activateStoreTheme [POST]
Activates a store theme.

+ Request (application/json)
    + Attributes (Activate)


+ Response 204 (application/json)

        No content found to fulfill the request.



    + Attributes (NoContent)


+ Response 0 

        Error message.





## Themes Jobs By Job Id [/themes/jobs/{job_id}]

+ Parameters
    + job_id (string, required)

        The job identifier.


### getJob [GET]
Gets a specified job.

+ Response 200 (application/json)

        The job.

    + Attributes (JobResponse)


+ Response 0 

        Error message.






# Group PriceLists

## Pricelists [/pricelists{?id,name,date_created,date_modified,page,limit}]

### getPriceListCollection [GET]
Returns a paginated collection of `Price List` objects from BigCommerce.
+ Parameters
    + id (number, optional)

        Filter items by id.

    + name (string, optional)

        Filter items by name.

    + date_created (string, optional)

        Filter items by date_created.

    + date_modified (string, optional)

        Filter items by date_modified.

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.


+ Response 200 (application/json)

        An array of Price Lists and metadata.



    + Attributes (PriceListCollectionResponse)



## Pricelists [/pricelists]

### createPriceList [POST]
Creates a `Price List` in BigCommerce.

+ Request (application/json)
    + Attributes (PriceListBase)


+ Response 200 (application/json)

        A Price List.



    + Attributes (PriceListResponse)


+ Response 409 

        `Price List` was in conflict with another Price List. This is the result of duplicate unique values, such as `name`.






+ Response 422 

        `Price List` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.







## Pricelists [/pricelists{?id,name}]

### deletePriceListsByFilter [DELETE]
Deletes a set of `Price List` objects from BigCommerce using a filter. Also removes all associated Price Recordss.
+ Parameters
    + id (number, optional)

        Filter items by id.

    + name (string, optional)

        Filter items by name.


+ Response 204 




## Pricelists By Price List Id [/pricelists/{price_list_id}]

+ Parameters
    + price_list_id (number, required)

        The ID of the `Price List` requested.{INT}


### getPriceList [GET]
Returns a `Price List` object from BigCommerce.

+ Response 200 (application/json)

        An array of Price Lists and metadata.



    + Attributes (PriceListResponse)


### updatePriceList [PUT]
Updates a single `Price List` object.

+ Request (application/json)
    + Attributes (PriceListBase)


+ Response 200 (application/json)

        A Price List.



    + Attributes (PriceListResponse)


+ Response 404 

        The resource was not found.






+ Response 409 

        `Price List` was in conflict with another Price List. This is the result of duplicate unique values, such as `name`.






+ Response 422 

        `Price List` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deletePriceList [DELETE]
Deletes one `Price List` object from BigCommerce by its ID. Also removes all associated Price Records.

+ Response 204 




## Pricelists Records By Price List Id [/pricelists/{price_list_id}/records{?variant_id,product_id,currency,page,limit,include,price,sale_price,retail_price,map_price,calculated_price,date_created,date_modified}]

+ Parameters
    + price_list_id (number, required)

        The ID of the `Price List` requested.{INT}


### getPriceListRecordCollection [GET]
Fetches the `Price Records` associated with a particular Price List, using a filter.
+ Parameters
    + variant_id (number, optional)

        The ID of the `Variant` whose prices were requested.

    + product_id (string, optional)

        A comma-separated list of ids of `Product`s whose prices were requested.

    + currency (string, optional)

        Filter items by currency.

    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + include (enum[string], optional)

        Sub-resources to include on a price record, in a comma-separated list. Valid expansions currently include `bulk_pricing_tiers` and `sku`.  Other valies will be ignored.

        + Members
            + `bulk_pricing_tiers` 
            + `sku` 

    + price (number, optional)

        Filter items by price.

    + sale_price (number, optional)

        Filter items by sale_price.

    + retail_price (number, optional)

        Filter items by retail_price.

    + map_price (number, optional)

        Filter items by map_price.

    + calculated_price (number, optional)

        Filter items by calculated_price.

    + date_created (string, optional)

        Filter items by date_created.

    + date_modified (string, optional)

        Filter items by date_modified.


+ Response 200 (application/json)

        An array of prices and metadata.



    + Attributes (PriceRecordCollectionResponse)



## Pricelists Records By Price List Id [/pricelists/{price_list_id}/records]

+ Parameters
    + price_list_id (number, required)

        The ID of the `Price List` requested.{INT}


### setPriceListRecordCollection [PUT]
Creates or updates a batch of `Price Records` associated with a particular Price List.

+ Request (application/json)
    + Attributes (PriceRecordBatchItem)


+ Response 200 

        Success response for batch PUT of `Price Records`.



    + Attributes (object)


+ Response 422 

        Error response for batch PUT of `Price Records`.  May include errors during partial update in non-strict mode.







## Pricelists Records By Price List Id [/pricelists/{price_list_id}/records{?variant_id}]

+ Parameters
    + price_list_id (number, required)

        The ID of the `Price List` requested.{INT}


### deletePriceListRecordsByFilter [DELETE]
Deletes one or more `Price Record` objects from BigCommerce using a filter.
+ Parameters
    + variant_id (number, optional)

        The ID of the `Variant` whose prices were requested.


+ Response 204 (application/json)

        An empty response.



    + Attributes (NoContent)



## Pricelists Records By Price List Id [/pricelists/{price_list_id}/records/{variant_id}]

+ Parameters
    + price_list_id (number, required)

        The ID of the `Price List` requested.{INT}

    + variant_id (number, required)

        ID of the variant on a product, or on an associated Price List Record.{INT}


### getPriceListRecordsByVariantId [GET]
Fetches an array of `Price Records` matching a particular Price List and Variant ID. Will contain any set price records by currency.

+ Response 200 (application/json)

        An array of prices and metadata.



    + Attributes (PriceRecordCollectionResponse)


### deletePriceListRecordsByVariantId [DELETE]
Deletes the collection of `Price Record` objects associated with a certain price list and variant ID.

+ Response 204 




## Pricelists Records Currency Code [/pricelists/{price_list_id}/records/{variant_id}/{currency_code}{?include}]

+ Parameters
    + price_list_id (number, required)

        The ID of the `Price List` requested.{INT}

    + variant_id (number, required)

        ID of the variant on a product, or on an associated Price List Record.{INT}

    + currency_code (string, required)

        The currency code associated with the price record being acted upon.


### getPriceListRecord [GET]
Returns a `Price Record` object from BigCommerce.
+ Parameters
    + include (enum[string], optional)

        Sub-resources to include on a price record, in a comma-separated list. Valid expansions currently include `bulk_pricing_tiers` and `sku`.  Other valies will be ignored.

        + Members
            + `bulk_pricing_tiers` 
            + `sku` 


+ Response 200 (application/json)

        An array of prices and metadata.



    + Attributes (PriceRecordResponse)



## Pricelists Records Currency Code [/pricelists/{price_list_id}/records/{variant_id}/{currency_code}]

+ Parameters
    + price_list_id (number, required)

        The ID of the `Price List` requested.{INT}

    + variant_id (number, required)

        ID of the variant on a product, or on an associated Price List Record.{INT}

    + currency_code (string, required)

        The currency code associated with the price record being acted upon.


### setPriceListRecord [PUT]
Creates or updates a single `Price Record` object.

+ Request (application/json)
    + Attributes (PriceRecordBase)


+ Response 200 (application/json)

        A price record.



    + Attributes (PriceRecordResponse)


+ Response 404 

        The resource was not found.






+ Response 409 

        `Price Record` was in conflict with another price record. This is the result of duplicate unique values.






+ Response 422 

        `Price Record` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.






### deletePriceListRecord [DELETE]
Deletes one `Price Record` object from BigCommerce, by `variant_id`.

+ Response 204 





# Group Widget Template

## Content Widget Templates [/content/widget-templates{?page,limit,widget_template_kind}]

### getWidgetTemplates [GET]
Gets all widget templates.
+ Parameters
    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + widget_template_kind (string, optional)

        The kind of widget template.


+ Response 200 (application/json)

        Success

    + Attributes (WidgetTemplatesResponse)


+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.







## Content Widget Templates [/content/widget-templates]

### createWidgetTemplate [POST]
Creates a widget template.

+ Request (application/json)
    + Attributes (WidgetTemplatePost)


+ Response 201 (application/json)

        A widget template.



    + Attributes (WidgetTemplateResponse)


+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.







## Content Widget Templates By Uuid [/content/widget-templates/{uuid}]

+ Parameters
    + uuid (string, required)

        The identifier for a specific template.


### getWidgetTemplate [GET]
Gets a widget template.

+ Response 200 (application/json)

        Success

    + Attributes (WidgetTemplateResponse)


+ Response 404 

        The resource was not found.






+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.






### updateWidgetTemplate [PUT]
Updates a widget template.

+ Request (application/json)
    + Attributes (WidgetTemplatePut)


+ Response 200 (application/json)

        Success

    + Attributes (WidgetTemplateResponse)


+ Response 404 

        The resource was not found.






+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteWidgetTemplate [DELETE]
Deletes a widget template.

+ Response 204 



+ Response 404 

        The resource was not found.






+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.







## Content Widget Templates Preview By Uuid [/content/widget-templates/{uuid}/preview]

+ Parameters
    + uuid (string, required)

        The identifier for a specific template.


### previewWidget [POST]
Render a widget template and return the widget html.

+ Request (application/json)
    + Attributes (WidgetTemplatePreview)


+ Response 200 (application/json)

        Success

    + Attributes (WidgetTemplatePreviewResponse)


+ Response 404 

        The resource was not found.






+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.








# Group Widget

## Content Widgets [/content/widgets{?page,limit,widget_template_kind,widget_template_uuid}]

### getWidgets [GET]
Gets all widgets.
+ Parameters
    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + widget_template_kind (string, optional)

        The kind of widget template.

    + widget_template_uuid (string, optional)

        The identifier for a specific widget template.


+ Response 200 (application/json)

        Success

    + Attributes (WidgetsResponse)


+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.







## Content Widgets [/content/widgets]

### createWidget [POST]
Creates a widget.

+ Request (application/json)
    + Attributes (WidgetPost)


+ Response 200 (application/json)

        Success

    + Attributes (WidgetResponse)


+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.







## Content Widgets By Uuid [/content/widgets/{uuid}]

+ Parameters
    + uuid (string, required)

        The identifier for a specific widget.


### getWidget [GET]
Gets a widget.

+ Response 200 (application/json)

        Success

    + Attributes (WidgetResponse)


+ Response 404 

        The resource was not found.






+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.






### updateWidget [PUT]
Updates a widget.

+ Request (application/json)
    + Attributes (WidgetPut)


+ Response 200 (application/json)

        Success

    + Attributes (WidgetResponse)


+ Response 404 

        The resource was not found.






+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.






### deleteWidget [DELETE]
Deletes a widget.

+ Response 204 



+ Response 404 

        The resource was not found.






+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.







## Content Widgets Search [/content/widgets/search{?page,limit,query}]

### searchWidgets [GET]
Gets all widgets by search.
+ Parameters
    + page (number, optional)

        Specifies the page number in a limited (paginated) list of products.

    + limit (number, optional)

        Controls the number of items per page in a limited (paginated) list of products.

    + query (string, optional)

        The query string associated with a widget's name and description.


+ Response 200 (application/json)

        Success

    + Attributes (WidgetsResponse)


+ Response 422 

        This is the result of missing required fields, or of invalid data. See the response for more details.








# Group Placement

## Content Placements [/content/placements{?page,limit,widget_template_kind,template_file,widget_uuid,widget_template_uuid}]

### getPlacements [GET]
Gets all placements.
+ Parameters
[...]
